.column-container{
    display:flex;
    max-width:100%
}

.column-40-60 .image-column {
  width: 40%;
}

.column-40-60 .text-column {
  width: 60%;
  padding-left: 20px;
  padding-right: 20px
}

.column-60-40 .image-column {
  width: 60%;
}

.column-60-40 .text-column {
  width: 40%;
  padding-left: 20px;
  padding-right: 20px
}


.Text-Left-Image-Right .column-container {
 flex-direction: row-reverse; 
}

.field--name-field-article .field__items {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
}

.article-column {
    display:flex;
    /* flex-wrap:wrap; */
    /* align-items: center; */
    column-gap:20px;
}

.field--name-field-heading{
    margin-bottom: 2px !important;
}
.text-content{
    font-size: 0.775rem;
    line-height: 1.1rem
}

.field .field--name-field-heading {
    color:red;
}