
<div class="article-row">
    <div class="article-column">
      <div class="article-image-column">
        {{ content.field_article_image }}
      </div>
      <div class="article-text-column">
        {{ content.field_heading }}
        {{ content.field_article_description }}
      </div>
    </div>
</div>

<!-- {{ dump() }} -->

